<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>785012893388-4b2r25smuhqibqng5aks75ci9s0hlq2v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.785012893388-4b2r25smuhqibqng5aks75ci9s0hlq2v</string>
	<key>API_KEY</key>
	<string>AIzaSyBA1l0CsYs_EDH9QVIxAMf_Ht4iEixUfiE</string>
	<key>GCM_SENDER_ID</key>
	<string>785012893388</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.circle</string>
	<key>PROJECT_ID</key>
	<string>social-circle-qa</string>
	<key>STORAGE_BUCKET</key>
	<string>social-circle-qa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:785012893388:ios:ee284075d36f099f748469</string>
</dict>
</plist>